[Desktop Entry]
Icon=text-html
Name=https://docs.kernel.org/driver-api/gpio/consumer.html
Type=Link
URL[$e]=https://docs.kernel.org/driver-api/gpio/consumer.html
